%h2.name=@submission.form.name

-@submission.form.questions.each do |question|
  -if(question.rhetorical?)
    %h3=question.name
    %p=question.instructions
  -else
    %dt=question.name
    -Answer.find_all_by_submission_id_and_question_id(@submission.id, question.id).each do |answer|
      -unless answer.answer.blank?
        %dd=answer.answer
        
=action_links @submission
