-content_for(:aside) do
  -if permitted_to? :edit, @form
    .actions.box
      %h2 Actions
      =action_links @form
  -if permitted_to? :index, @form.submissions.first
    .submissions.box
      %h2 Submissions
      %ul.stacked
        %li.total
          %strong Total:
          =@form.submissions.count
        %li.first
          %strong First:
          =@form.submissions.minimum(:created_at).try(:to_s, :long)
        %li.last
          %strong Last:
          =@form.submissions.maximum(:created_at).try(:to_s, :long)
        %li.view
          %strong Export As:
          =link_to('CSV', form_submissions_path(@form.id, :format=>:csv), :class=>:csv)
