-raise 'You must pass in an "answerer" to use this partial' unless defined? answerer

-answerer.questions_by_section.each do |section, questions|
  -unless section.nil?
    %h3= section.name
    %p= section.instructions
  %dl
    -questions.each do |question|
      %dt= question.name
      -answerer.answers_to(question).each do |answer|
        %dd= answer.answer
