.ask.questions { margin: 0; list-style-type: none; background: white; border: solid 1px #ddd;
  a.add_fields { display: block; padding: 15px; 
    &:hover { background-color: #FFF9DD; }
  }
  fieldset { border: none; }
  
  >fieldset.question { position: relative; margin: 0; padding: 10px 10px 25px 10px; cursor: move;
      
    input[type=text] { width: 300px; }
    textarea { height: 3em; width: 60%; font-family: sans-serif; }
    .question-action-links { float: right; display: none; }

    &:hover { background-color: #FFF9DD; 
      .question-action-links { display: inline-block; }
    }

    &.preview {   // hide edit fields when in preview mode
      .edit-question-fields { display: none; }
      input[type="checkbox"], input[type="radio"] { margin: 0 8px 4px; }
      label.preview-question-name { font-weight: bold; display: block; }
      h3 { margin-bottom: 0; }
      hr { margin-bottom: 0; border-top: 1px solid #EEE; border-bottom: none; }
      .help-block { color: #595959; }
    }
    &.edit { background-color: #FFF4C2; 
      .question-action-links { display: inline-block; }
      table {
        th { text-align: left; }
      }

      .askwidget-fieldlabel {
        label { font-weight: bold; display: inline-block; margin-right: 20px; }
      }

      .required-option { display: inline-block;
        input[type="checkbox"] { margin: 0 5px 0; }
      }

      .edit-question-choices { margin: 10px;
        .start-hidden { display: none; }
        .question-type {
          fieldset.choice { margin-bottom: 10px;
            input[type="radio"], input[type="checkbox"] { display: none; margin-right: 5px; }
            input[type="text"] { margin: 0; }
          }
          &.show-radio {
            fieldset.choice input[type="radio"] { display: inline-block; }
          }
          &.show-checkbox {
            fieldset.choice input[type="checkbox"] { display: inline-block; }
          }
        }
      }

    }

  }  // End fieldset.question
}