%fieldset.choice
  %input.radio-preview{type: 'radio', disabled: "true"}
  %input.checkbox-preview{type: 'checkbox', disabled: "true"}
  = f.text_field :name, :placeholder=>'Choice'
  = f.hidden_field :_destroy
  = link_to "remove", '#', class: "remove_fields"