.question-type.TextQuestion
  %input.askwidget-disabledpreview{:disabled => "true", :name => "undefined", :type => "text", :value => "Their answer"}

.question-type.EssayQuestion.start-hidden
  %textarea.askwidget-disabledpreview{:disabled => "true", :name => "undefined", :type => "text", :value => "Their answer"}

.question-type.ChooseOneQuestion.ChecklistQuestion.start-hidden
  = f.fields_for(:choices) do |choice|
    = render 'asker/choice_fields', f: choice

  = link_to_add_fields "Add Choice", f, :choices

.question-type.FormSection.start-hidden
  %h4 Name of section
  %p
    This will provide a divider between form sections

